body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 100%;
    max-width: 1300px;
}

#title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 5px;
}

#board {
    width: 1200px; /* Exact width for 19 tiles */
    height: auto;
    margin: 0 auto;
    margin-top: 3px;
    display: grid;
    grid-template-columns: repeat(20, 1fr); 
    gap: 3px;
}

.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 56px;
    height: 60px;

    /* Text */
    color: black;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}

.keyboard-row {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;
    cursor: pointer;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;
    cursor: pointer;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key-tile:hover, .enter-key-tile:hover {
    background-color: #f0f0f0;
}